# Task 1

Imorting all necessaries libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler

Importing the dataset

In [3]:
df=pd.read_csv("creditcard.csv")

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

Checking whether there is missing values are there or not

In [8]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
df.duplicated().sum()

1081

In [10]:
df = df.drop_duplicates( keep='first')

In [11]:
df.duplicated().sum()

0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 283726 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    283726 non-null  float64
 1   V1      283726 non-null  float64
 2   V2      283726 non-null  float64
 3   V3      283726 non-null  float64
 4   V4      283726 non-null  float64
 5   V5      283726 non-null  float64
 6   V6      283726 non-null  float64
 7   V7      283726 non-null  float64
 8   V8      283726 non-null  float64
 9   V9      283726 non-null  float64
 10  V10     283726 non-null  float64
 11  V11     283726 non-null  float64
 12  V12     283726 non-null  float64
 13  V13     283726 non-null  float64
 14  V14     283726 non-null  float64
 15  V15     283726 non-null  float64
 16  V16     283726 non-null  float64
 17  V17     283726 non-null  float64
 18  V18     283726 non-null  float64
 19  V19     283726 non-null  float64
 20  V20     283726 non-null  float64
 21  V21     283726 non-null  float64
 22  V22     283726 non-null  float64
 23  V23     283726 non-null  float64
 24  V24     283726 non-null  float64
 25  V25     283726 non-null  float64
 26  V26     283726 non-null  float64
 27  V27     283726 non-null  float64
 28  V28     283726 non-null  float64
 29  Amount  283726 non-null  float64
 30  Class   283726 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 69.3 MB

In [13]:
df['Class'].value_counts()

Class
0    283253
1       473
Name: count, dtype: int64

this data set is higly unbalanced
#0 represents leg trans(means its real and legal)
#1 represents fraud trans(means its fraud detection)

In [14]:
leg =df[df.Class == 0]
fraud =df[df.Class == 1]

In [15]:
print(leg.shape)
print(fraud.shape)

(283253, 31)
(473, 31)

In [16]:
leg.Amount.describe()

count    283253.000000
mean         88.413575
std         250.379023
min           0.000000
25%           5.670000
50%          22.000000
75%          77.460000
max       25691.160000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     473.000000
mean      123.871860
std       260.211041
min         0.000000
25%         1.000000
50%         9.820000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

#Compares the values for both trans

In [18]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94835.058093,0.013439,-0.009829,0.012853,-0.010440,0.006769,0.001251,0.010447,-0.002448,0.002613,...,-0.000489,-0.00115,-0.000160,0.000360,0.000393,-0.000301,0.000065,0.001409,0.000418,88.413575
1,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.46655,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,123.871860

In [19]:
leg_sample = leg.sample(n=492)

In [20]:
new_data = pd.concat([leg_sample, fraud], axis=0)

In [21]:
new_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,...,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000,965.000000
mean,86698.900518,-2.207130,1.654264,-3.291069,2.188336,-1.390373,-0.621099,-2.565198,0.527426,-1.268570,...,0.227647,0.041920,-0.095863,-0.054568,0.017038,0.015559,0.099385,0.046479,105.418083,0.490155
std,48146.336911,5.281761,3.495904,5.991886,3.181324,4.134231,1.821787,5.506841,3.968185,2.275274,...,1.952792,0.982396,1.373384,0.580635,0.688101,0.466078,0.910044,0.410891,238.755133,0.500162
min,357.000000,-30.552380,-8.402154,-31.103685,-3.960666,-22.105532,-9.312814,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-25.356744,-2.028024,-6.035054,-1.212322,-7.263482,-1.869290,0.000000,0.000000
25%,42814.000000,-2.564829,-0.169682,-4.871394,-0.153780,-1.663468,-1.597981,-2.874155,-0.170105,-2.245882,...,-0.155886,-0.512626,-0.239303,-0.403114,-0.320311,-0.290306,-0.064020,-0.051060,1.100000,0.000000
50%,78795.000000,-0.738440,0.942289,-1.248421,1.297141,-0.400737,-0.615622,-0.603937,0.191193,-0.787784,...,0.130749,0.033922,-0.044826,-0.017777,0.040871,-0.029841,0.050207,0.035594,17.990000,0.000000
75%,133839.000000,1.033342,2.617105,0.343398,4.173268,0.544681,0.189639,0.242420,0.911337,0.156762,...,0.615642,0.576924,0.177418,0.378752,0.396158,0.302809,0.454851,0.215820,99.990000,1.000000
max,171734.000000,2.320537,22.057729,4.226108,12.114672,14.306890,8.755152,5.802537,20.007208,6.095338,...,27.202839,8.361985,5.466230,1.766768,2.208209,2.745261,3.052358,2.590776,2125.870000,1.000000

In [22]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
68416,52982.0,-0.334621,1.265677,0.724249,0.489746,0.057364,-0.553142,0.394307,0.266543,-0.684721,...,0.088293,0.209083,-0.079088,-0.102541,-0.106967,-0.499083,-0.038739,-0.017214,6.09,0
260603,159633.0,2.219230,-0.895200,-0.577188,-0.995368,-0.854159,-0.351116,-1.054575,-0.127142,0.016653,...,0.364392,1.190483,0.050950,-0.647219,-0.084501,-0.022221,0.027238,-0.051424,2.62,0
162220,114939.0,-0.532709,0.609033,0.785754,-1.411946,0.586715,0.702840,0.188854,0.269534,0.641497,...,-0.225480,-0.570252,-0.124958,-0.401542,-0.167941,-0.335710,-0.708508,-0.509310,0.77,0
117617,74742.0,-0.924420,0.173111,1.951726,-0.986045,-0.156362,-0.832316,1.212586,-0.246345,0.096882,...,-0.210408,-0.736699,0.010930,0.372028,0.248998,0.703478,-0.280003,-0.172482,109.55,0
254808,156922.0,2.243919,-1.546316,-0.733993,-1.837723,-1.099636,0.361471,-1.542724,0.160418,-1.169543,...,-0.389954,-0.744395,0.408956,-0.045271,-0.561359,-0.492840,0.028180,-0.043265,25.98,0

In [23]:
new_data['Class'].value_counts()

Class
0    492
1    473
Name: count, dtype: int64

In [24]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92705.987805,-0.004459,-0.029790,0.014672,-0.007706,0.115943,0.158985,-0.055305,0.118041,-0.063425,...,0.008527,-0.002029,-0.001071,-0.095286,-0.004503,-0.005628,-0.017991,-0.010587,0.015915,87.676951
1,80450.513742,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,...,0.405043,0.466550,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,123.871860

In [25]:
df1= new_data.drop(columns='Class', axis=1)

In [26]:
df1

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
68416,52982.0,-0.334621,1.265677,0.724249,0.489746,0.057364,-0.553142,0.394307,0.266543,-0.684721,...,-0.124179,0.088293,0.209083,-0.079088,-0.102541,-0.106967,-0.499083,-0.038739,-0.017214,6.09
260603,159633.0,2.219230,-0.895200,-0.577188,-0.995368,-0.854159,-0.351116,-1.054575,-0.127142,0.016653,...,0.043441,0.364392,1.190483,0.050950,-0.647219,-0.084501,-0.022221,0.027238,-0.051424,2.62
162220,114939.0,-0.532709,0.609033,0.785754,-1.411946,0.586715,0.702840,0.188854,0.269534,0.641497,...,-0.116290,-0.225480,-0.570252,-0.124958,-0.401542,-0.167941,-0.335710,-0.708508,-0.509310,0.77
117617,74742.0,-0.924420,0.173111,1.951726,-0.986045,-0.156362,-0.832316,1.212586,-0.246345,0.096882,...,0.137544,-0.210408,-0.736699,0.010930,0.372028,0.248998,0.703478,-0.280003,-0.172482,109.55
254808,156922.0,2.243919,-1.546316,-0.733993,-1.837723,-1.099636,0.361471,-1.542724,0.160418,-1.169543,...,-0.367201,-0.389954,-0.744395,0.408956,-0.045271,-0.561359,-0.492840,0.028180,-0.043265,25.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [27]:
df2 = new_data['Class']

In [28]:
df2

68416     0
260603    0
162220    0
117617    0
254808    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 965, dtype: int64

Model Building

In [29]:
df1_train,df1_test,df2_train,df2_test=train_test_split(df1,df2,test_size=0.3,random_state=123)

Logistic Regrssion

In [30]:
lr=LogisticRegression()
model2=lr.fit(df1_train,df2_train)
prediction2=model2.predict(df1_test)
accuracy_score(df2_test,prediction2)

0.9448275862068966

Model 2

In [31]:
dff1= new_data.drop(columns='Class', axis=1)

In [32]:
dff2 = new_data['Class']

In [33]:
dff1_train,dff1_test,dff2_train,dff2_test=train_test_split(dff1,dff2,test_size=0.30,random_state=123)

Random forest

In [34]:
rfc=RandomForestClassifier()
model=rfc.fit(dff1_train,dff2_train)
prediction=model.predict(dff1_test)
accuracy_score(dff2_test,prediction)

0.9413793103448276

Model 3

In [35]:
dfff1= new_data.drop(columns='Class', axis=1)

In [36]:
dfff2 = new_data['Class']

In [37]:
dfff1_train,dfff1_test,dfff2_train,dfff2_test=train_test_split(dfff1,dfff2,test_size=0.30,random_state=123)

In [38]:
scaler = MinMaxScaler()

X_train = scaler.fit_transform(dfff1_train)
X_test = scaler.fit_transform(dfff1_test)

X_test

array([[0.69571815, 0.90379599, 0.192852  , ..., 0.66873977, 0.57071702,
        0.01594141],
       [0.84124019, 1.        , 0.13962655, ..., 0.65230978, 0.53971098,
        0.01135185],
       [0.4077909 , 0.90297734, 0.24819593, ..., 0.68435917, 0.59047753,
        0.00646323],
       ...,
       [0.44109544, 0.76894818, 0.32165698, ..., 0.67090471, 0.74645015,
        0.0609704 ],
       [0.72567239, 0.93843229, 0.22147773, ..., 0.48160196, 0.33929825,
        0.00109246],
       [0.14410371, 0.96582362, 0.23984857, ..., 0.64769486, 0.57303961,
        0.00190418]])

In [39]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

KNN

In [40]:
knn= KNeighborsClassifier()
knn.fit(X_train,dfff2_train)

KNeighborsClassifier()

In [41]:
knn.score(X_train, dfff2_train)

0.9362962962962963

In [42]:
prediction=knn.predict(X_test)
accuracy_score(dfff2_test,prediction)

0.9310344827586207

we can see that all the three above models are working fine with that high accuracy rate